head{
height: 100vh;
background-color: #b1e0e0;
font-size: medium;



}


body{
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--azul-claro);
    color: var(--preto);
    font-size: 16px;